<p>Dear {{patient_name}},</p>
<p>Just a friendly reminder about your appointment with Dr. {{doctor_name}} on {{appt_date}}, from {{appt_start_time}} to {{appt_end_time}}.</p>
<p>If you have any questions or concerns, please do not hesitate to get in touch with us at <a href="mailto:{{contact_email}}">{{contact_email}}</a> or on <a href="tel:{{contact_telephone}}">{{contact_telephone}}.</a></p><br/>
<p>--</p>

<p>Warm regards,</p>
<p>Healthcare System</p>
<p>{{contact_telephone}} | {{contact_email}}</p>
<p>123 Street, Somewhere</p>
<p>City, Country</p>